
<h3>Balances as of {{currentMonth}} {{currentYear}}</h3>

<table class="table table-bordered">
      <tr>
        <th scope="col">R&D</th>
        <th scope="col">Canteen</th>
        <th scope="col">CEOs car</th>
        <th scope="col">Marketing</th>
        <th scope="col">Parkings fines</th>
      </tr>
      <tr>
        <td>{{accountBalances.randDBalance}}</td>
        <td>{{accountBalances.canteenBalance}}</td>
        <td>{{accountBalances.ceoCarExpenceBalance}}</td>
        <td>{{accountBalances.marketingBalance}}</td>
        <td>{{accountBalances.parkingFinesBalance}}</td>
      </tr>
</table>