<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Account Balance Viewer</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isAdmin || isUser">
        <a href="/account-balances" class="nav-link" routerLink="account-balances">Account Balance </a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/balances-chart" class="nav-link" routerLink="balances-chart">Balances Chart</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/import-balances" class="nav-link" routerLink="import-balances">Import Balances</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>